xarray>=0.20.2
pyvista>=0.32.1
pyvistaqt>=0.6.0
numpy>=1.21.5
vtk>=9.1.0

matplotlib>=3.5.1
shapely>=1.8.0
pandas>=1.3.5
ezdxf>=0.17
rasterio>=1.2.10

colorcet>=3.0.0
cmocean>=2.0
loopstructural>=v1.4.1

vedo<=2021.0.6
geopandas>=0.10.2

scipy>=1.7.3
